{% extends 'base/Base.html' %}
{% load static %}
{% block title %} 
    <title>CAD/CAM View Page</title>
{% endblock %}

{% block content_title %}
    <h2>View PQC results</h2>
{% endblock %}

{% block CAD %}active {% endblock %}

{% block content %}
<style>
.hover-shadow_1:hover{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid red;
}
</style>
<section class="section" >
    <div class="row">
        <form class="row form-group" action="{% url 'view_pqc_result' list_view.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-4">
                <label for="model1">Model:</label>
                 <select class="form-control" id="model1" name="model">
                     <option value="{{list_view.model}}">{{list_view.model}} </option>
                </select>
                <label for="cnc1">Process:</label>
                <select class="form-control" id="cnc1" name="process">
                    <option value="{{list_view.process}}">{{list_view.process}} </option>
                </select>
            </div>
            <div class="col-4">
                <label for="ver1">Version:</label>
                <select class="form-control" id="ver1" name="process">
                    <option value="{{list_view.version}}">{{list_view.version}} </option>
                </select>
                <label for="pg1">PG name:</label>
                <select class="form-control" id="pg1" name="pg_name">
                    <option value="{{list_view.pg_name}}">{{list_view.pg_name}} </option>
                </select>
            </div>
            <div class="col-4">
                <label for="reason">Member PQC Confirm:</label>
                <select class="form-control" id="pqc_name" name="pg_name">
                    <option >{{list_view.pqc_confirm_by}} </option>
                </select>
                <label for="reason">Reason:</label>
                <textarea id="reason" name="reason" class="form-control" style="height: 6vh; width:100%;resize:none;">{{list_view.reason}}</textarea>
                <label>PQC_File:</label>
                <a style="height:35px;" class="form-control" href="{% static list_view.file_pqc %}" download="{% static list_view.file_pqc %}">{{list_view.get_file_pqc}}</a>
            </div>
            <div class="col-md-12">
                <div class="row">
                     <div class="col-md-10">
                        <a class="btn btn-outline-primary" href="{% url 'excel' list_view.id %}" >Export Excel</a>
                     </div>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="row" style="padding-right: 1.5rem">
        <div class="col-md-12" >
            <div class="row" style="min-height:50vh; max-height:50vh;text-align: center">
                <div class="col-md-6"  >
                     <h3>Picture Model Modify</h3>
                    <div  id="show_image_1">
                        <a href="#" onclick="showPicture('image_2')">
                            <img id="image_2" src={% static img_cam_list.0 %} alt="" width="100%" height="300px" style="margin-bottom:2px;"/>
                        </a>
                    </div>
                    <div style="display:flex;overflow:auto;" >
                        {% for image in img_cam_list %}
                        <a href="#" onclick="displayPicture('{% static image %}')" style="margin: 0 0.5px;">
                            <img class="hover-shadow_1" src={% static image %} alt="" style="height:10vh;overflow:auto;"/>
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-6"  >
                     <h3>Picture PQC Confirm</h3>
                    <div  id="show_image_2">
                        <a href="#" onclick="showPicture('image_3')">
                            <img id="image_3" src={% static img_pqc_list.0 %} alt="" width="100%" height="300px" style="margin-bottom:2px;"/>
                        </a>
                    </div>
                    <div style="display:flex;overflow:auto;" >
                        {% for image in img_pqc_list %}
                        <a href="#" onclick="display_Picture('{% static image %}')" style="margin: 0 0.5px;">
                            <img class="hover-shadow_1" src={% static image %} alt="{{image}}" style="height:10vh;overflow:auto;"/>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'assets/js/cam_view.js' %}"></script>
{% endblock %}
