{% extends 'base/Base.html' %}
{% load static %}
{% block title %}
<title>CAD/CAM Home</title>
{% endblock %}

{% block CAD %}active {% endblock %}

{% block content %}
<section class="section">
    <div class="row">
        <div class="col-md-8">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'cam_upload' %}"><i data-feather="plus-square"></i>
                Upload</a>
            <a class="btn btn-outline-primary btn-sm" href="#">Export Excel</a>
        </div>
        <div class="col-md-4">
            <form class="input-group" action="">
                {% csrf_token %}
                <input name="search" style="width:50%; margin-bottom:1px" class="form-control" type="search"
                       placeholder="Search..."/>
                <button title="Search" class="btn btn-dark" type="submit"><i data-feather="search"></i></button>
            </form>
        </div>
    </div>
    <table class="table table-hover" style="text-align: center;padding:5px !important;">
        <thead>
        <th>No.</th>
        <th>Model</th>
        <th>Process</th>
        <th>Version</th>
        <th>P/G Name</th>
        <th>Status</th>
        <th>Action</th>
        </thead>
        {% for i in customers %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{i.model}}</td>
            <td>{{i.process}}</td>
            <td>{{i.version}}</td>
            <td>{{i.pg_name}}</td>
            <td>{{i.status}}</td>
            <td>
                {% if 'cad' in user.get_group_list %}
                {% if i.status == "Waiting" %}
                <a title="Edit" class="btn btn-outline-secondary" href="{% url 'edit' i.id %}"><i
                        data-feather="edit"></i></a>
                {% endif%}
                {% endif%}
                <a title="View" class="btn btn-outline-secondary" href="{% url 'view_pqc_result' i.id %}"><i
                        data-feather="eye"></i></a>
            </td>
            {% if 'cad' in user.get_group_list %}
            <td>
                <form method="post" action="{% url 'deleted' i.id %}"
                      onsubmit="return confirm('You are want to delete')">
                    {% csrf_token %}
                    <button title="Delete" class="btn btn-outline-danger"><i data-feather="trash-2"></i></button>
                </form>
            </td>
            {% endif%}
        </tr>
        {% endfor %}
    </table>
    <div style="text-align:center;">
            <span class="step-links">
                {% if customers.has_previous %}
                    <a href="?search={{search}}&page={{ customers.previous_page_number }}">Previous</a>
                {% endif %}
            </span>

        <span class="current">
                Page {{ customers.number }} of {{ customers.paginator.num_pages }}
            </span>

        <span>
                {% if customers.has_next %}
                    <a href="?search={{search}}&page={{ customers.next_page_number }}">Next</a>
                {% endif %}
            </span>
    </div>
</section>
{% endblock %}
