<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/CSS/base.css">
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</head>
<body >
    <div class="container" style="border: 1px solid #456678">
        <nav class="navbar navbar-expand-sm bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Welcome!</a>
                </li>
                <div class="collapse navbar-collapse">
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">CAD/CAM P</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../CAM/cam-upload.html"><b>Up load file</b></a></li>
                        <li><a class="dropdown-item" href="../CAM/cam-results.html"><b>View Results PQC</b></a></li>
                    </ul>
                    </li>
                     <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">PQC P</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><b>Up load file</b></a></li>
                        <li><a class="dropdown-item" href="#"><b>View Model Modify</b></a></li>
                    </ul>
                    </li>
                </div>
            </ul>
            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="../login/login.html">
                            <button class="btn btn-info">Log Out</button>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="container">
    <p>
        1. Hãy viết một đoạn văn miêu tả cảnh sông nước, mẫu 1:
Chiều về là lúc bến sông quê tôi tấp nập nhất. Đoàn thuyền chở các bà, các chị từ chợ huyện, chợ tỉnh về cập bến. Các bà các chị được đàn con ùa ra đón. Con lớn đỡ cho mẹ gánh hàng. Con nhỏ vòi mẹ chia quà. Tiếng cười nói rộn ràng cả một khúc sông. Rồi ai về nhà nây. Con thuyền neo vào bến đỗ. Đây cũng là lúc bọn trẻ chăn trâu lùa trâu xuống tắm. Bọn trẻ tắm cho trâu, rồi bọn trẻ giỡn nước. Chúng té nước cho nhau. Chúng chơi trò đánh trận. Một đứa kiếm đâu được trái bóng tròn. Thế là chúng ném bóng cho nhau. Một ý kiến được cả bọn chấp nhận: chơi bóng nước. Chúng chia làm hai phe, chuyền bóng cho nhau. Phe nào chuyền được 6 chuyền là thắng. Phe thua phải cõng phe thắng chạy dọc con sông suốt từ bến tắm đến tận gốc đa. Bến sông quê tôi cứ rộn ràng như vậy cho đến lúc mặt trời lặn phía chân ười mới có chút bình lặng.

-------------------HẾT BÀI 1----------------------

Bên cạnh Hãy viết một đoạn văn miêu tả cảnh sông nước các em cần tìm hiểu thêm những nội dung khác như Tả cảnh dòng sông Hồng, Viết đoạn văn miêu tả cảnh sông nước, Tả dòng sông mùa lũ, Tả cảnh một con sông nhằm củng cố kiến thức của mình.
    </p>
</div>
    </div>
</body>

</html>