<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/CSS/base.css">
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</head>
<body >
    <div class="container" style="border: 1px solid #456678">
        <nav class="navbar navbar-expand-sm bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">CAD/CAM Monitoring System</a>
                </li>
                <div class="collapse navbar-collapse">
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">CAD/CAM</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../CAM/cam-upload.html"><b>Up load file</b></a></li>
                        <li><a class="dropdown-item" href="../CAM/cam-results.html"><b>View Results PQC</b></a></li>
                    </ul>
                    </li>
                     <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">PQC P</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><b>Up load file</b></a></li>
                        <li><a class="dropdown-item" href="#"><b>View Model Modify</b></a></li>
                    </ul>
                    </li>
                </div>
            </ul>
            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="../login/login.html">
                            <button class="btn btn-info">Log Out</button>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</body>

</html>