<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="../../static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/CSS/login.css"/>
</head>
<body>
    
    <form class="login-form" action="{% url 'home' %}" method="post" style="box-shadow: 3px 5px 5px #456; border: #456 solid 1px; border-radius: 10px; padding: 20px 20px;">
        {% csrf_token %}
        <h1 style="color: #aaa;">CAD/CAM System</h1>
        <p class="login-text">
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x"></i>
            </span>
        </p>
        <input type="text" class="login-username" autofocus="true" required="true" placeholder="ID" />
        <input type="password" class="login-password" required="true" placeholder="Gen/Password" />
        <input type="submit" name="Login" value="Login" class="login-submit" style="padding: 5px 15px; border-radius: 5px; background-color: #456" />
    </form>
    <a href="#" class="login-forgot-pass">forgot password?</a>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div> 
</body>
</html>