<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="../../static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/CSS/login.css"/>
</head>
<body>
<div class="container cla1">
    <div class="row">
        <div class="col-9 div1">
            <h1> Welcome to Cad/Cam!</h1>
        </div>
        <div class="col-3 align-items-center">
                <form method="get" action="cad-cam.html">
                    <h2>LOGIN</h2>
                    <label for="gen"><b>Số Gen</b>:</label></br>
                    <input class="form-control" type="text" id="gen" placeholder="Nhập số Gen của bạn"></br>
                    <label for="number"><b>Số ID:</b></label></br>
                    <input class="form-control" type="text" id="number" placeholder="Nhập số ID của bạn"></br>
                    <a class="btn btn-primary bt1"  href="../base/Base.html" >Login</a>
                </form>
        </div>
    </div>
</div>
</body>
</html>