{% extends 'base/Base.html' %}
{% load static %}
{% block title %}
    <title>PQC Confirm</title>
{% endblock %}

{% block PQC %}active {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2>PQC Part Confirm File Upload</h2>
        <div>
            {% if messages %}
            <div class="alert alert-success">
                {{ messages }}
            </div>
            {% endif %}
            <form class="form-group" action="{% url 'comfirm' comfirm.id  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="model1">Model:</label>
                <select class="form-control" id="model1" name="model">
                    <option value="{{comfirm.model}}">{{comfirm.model}} </option>
                </select>
                <label for="cnc1">Process:</label>
                <select class="form-control" id="cnc1" name="process">
                    <option value="{{comfirm.process}}">{{comfirm.process}} </option>
                </select>
                <label for="ver1">Version:</label>
                <select class="form-control" id="ver1" name="version">
                    <option value="{{comfirm.version}}">{{comfirm.version}} </option>
                </select>
                <label for="pg1">PG name:</label>
                <select class="form-control" id="pg1" name="pg_name">
                    <option value="{{comfirm.pg_name}}">{{comfirm.pg_name}} </option>
                </select>
                <input class="form-control mt-3" type="file" id="myFile" name="pqc_img" required>
                <label for="pg1">Comfirm:</label>
                <select class="form-control" id="status" name="status" onChange="reason_control();" style="width:20%">
                    {% for j in ORDER_STATUS %}
                    <option value="{{ j.1 }}">{{j.1}}</option>
                    {% endfor %}
                </select>
                <textarea  id="reason" name="reason" class="form-control" style="display:none;resize:none;" required></textarea>
                <div class="mt-3 text-center">
                    <button type="submit" class="btn btn-info">SAVE</button>
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-8">
        <div style="min-height:79vh; max-height:79vh;" class="form-control">
            <a href="#" onclick="showPicture('{% static comfirm.img %}')">
                <img src={% static comfirm.img %} alt="{{img.name}}" width="100%" height="630hv"/>
            </a>
        </div>
    </div>
</div>
<!--JS PQC choice status NG display textarea-->
<script>
    function reason_control() {
        let status = document.getElementById("status")

        if (status.value == "NG") {
            reason.style.display = "block";
        }else{
            reason.style.display = "none";
        }

    }

    function showPicture(img_url) {
            let show_div = document.getElementById('show_img');
            let main_img = document.getElementById('main_img');
            main_img.src = img_url;
            show_div.style.display = "block";
        }

        function hidePicture() {
            let show_div = document.getElementById('show_img');
            show_div.style.display = "none";
        }
</script>
{% endblock %}
